---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}<span>.io</span></a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}

<div class="list-item">
  <h2 class="list-post-title">
    <a href="https://cloud.google.com/blog/big-data/2017/04/deepbreath-preventing-angry-emails-with-machine-learning">DeepBreath: Preventing angry emails with machine learning</a>
  </h2>
  <div class="list-post-date">
    April 6, 2017
  </div>
</div>

<div class="list-item">
  <h2 class="list-post-title">
    <a href="https://medium.com/google-cloud/deploying-django-postgres-and-redis-containers-to-kubernetes-part-2-b287f7970a33#.ynn5h3jme">Deploying Django to Kubernetes (pt2)</a>
  </h2>
  <div class="list-post-date">
    March 31, 2016
  </div>
</div>

{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
